/***************
FOOTER
***************/
footer
    border-top 2px solid border-color

    .main-footer
        padding 10px
        text-align center

        > p
            margin 0

        .terms
            font-size .75em