/***************
FORMS
***************/
form
    margin-bottom 10px
    max-width 100%

    fieldset
        border none
        padding 0
        margin 5px 0

        .notification.error
            color red

            & ~ input
                border-color red
                color red

        input,
        textarea
            border-radius 5px
            border 1px solid border-color
            padding 10px
            width 100%
            box-shadow none
            -webkit-appearance none

        textarea
            height 200px
            resize vertical

    button
        margin-bottom 0

.login-title
    display flex
    justify-content space-between
    align-items center

    a
        p
            margin 0
            display inline-block

        img[src="/static/github-logo.svg"]
            margin-bottom -3px
            margin-left 5px
            width 20px

#login-form,
#signup-form
    fieldset
        padding 0
