/***************
HEADER
***************/
.main-header
    a
        color #999

    .title-bar
        display flex
        justify-content space-between
        align-items center

        .toggle-nav
            width 30px
            height 30px

    .logo
        font-size 1.5em !important
        text-align center
        color black

    #search-link
        display flex
        align-items center
        margin-right 10px
        padding 0

        img
            width 15px
            height 15px
            margin-right 10px

    #notifications-link
        position absolute
        top 3px
        right 50px
        padding 10px 0

        img
            width 20px

        &.number-showing
            right 60px
            top 5px

            img
                animation shake 0.3s infinite

        #notification-count
            display none

            background-color red
            border-radius 100%
            position absolute
            width 20px
            height 20px
            top -1px
            left 15px

            color white
            text-align center

            line-height 1.4em

    nav
        display none
        font-size 0.9em

        > a
            display block
            padding 10px 0

        > a,
        #user-options-toggle,
        .user-options-inner-showing a
            width 100%
            border-top 1px solid border-color

            &:hover
                color black

        .user-options
            .user-options-toggle
                padding 10px 0
                border-top 1px solid border-color
                display flex
                align-items center
                width 100%

                p
                    margin 0 10px
                    overflow hidden
                    text-overflow ellipsis
                    max-width 150px

                #user-options-logo
                    width 20px
                    height 20px

                img[src="/static/down_arrow.svg"]
                    height 20px

            .user-options-inner
                display none

                > *
                    display block
                    border-top 1px solid border-color
                    padding 10px 0

                > p
                    margin 0

@keyframes shake
    0%
        transform rotate(-5deg)
        
    50%
        transform rotate(5deg)

    100%
        transform rotate(-5deg)