/***************
HEADER
***************/
.main-header
    .title-bar
        display flex
        justify-content space-between
        align-items center

        .toggle-nav
            font-size 2em
            color black

    .logo
        font-size 1.5em
        text-align center
        color black

    nav
        display none


        #notifications-link
            position relative
            padding 10px 0

            display flex
            align-items center

            > p
                margin 0
                margin-left 10px

            #notification-count
                display none

                background-color red
                border-radius 100%
                position absolute
                width 20px
                height 20px
                top 10px
                left 120px

                color white
                text-align center

                line-height 1.4em

        > a
            display block

        > a,
        #user-options-toggle,
        .user-options-inner-showing a
            width 100%
            padding 10px 0
            border-top 1px solid border-color

            &:hover
                color black

        .user-options
            .user-options-toggle
                border-top 1px solid border-color
                display flex
                align-items center
                width 100%
                padding 10px 0

                p
                    margin 0 10px

                img
                    height 20px

            .user-options-inner
                display none

                > *
                    display block
                    border-top 1px solid border-color
                    padding 10px 0

                > p
                    margin 0

        #notifications-link
            img[src="/static/bell.svg"]
                height 20px