/***************
MEDIA QUERIES
***************/
@media (min-width: 27em)
    header
        border-bottom 2px solid border-color

        .main-header
            .toggle-nav
                display none

            display flex
            align-items center

            .logo
                font-size 2em
                margin-right auto

                &:hover
                    color border-color

            #search-link
                padding 10px 0

                img
                    margin 0

                p
                    display none

            nav a,
            #notifications-link,
            .user-options
                width auto
                border none
                margin-left 10px

                &:hover
                    color black

                &:last-child
                    border none

            #notifications-link
                position static
                top 0
                height 40px

                #notification-count-wrapper
                    position relative

                    #notification-count
                        left auto
                        top -36px
                        right -15px

            nav
                font-size 1em
                display flex !important
                flex-direction row
                align-items center
                margin-left auto

                .user-options
                    position relative
                    margin 0

                    .user-options-toggle
                        border none !important
                        padding 0

                        #user-options-logo
                            width 40px
                            height 40px
                            margin-right 5px

                        p
                            display none

                    .user-options-inner
                        width 100%
                        background-color white
                        margin-right 10px
                        position absolute
                        top 42px
                        border 1px solid border-color
                        border-bottom-right-radius 5px
                        border-bottom-left-radius 5px

                        a
                            padding 10px
                            margin 0

                            &:hover
                                color black


    #body
        border none

        .flashes
            width 50%
            left 25%

@media (min-width: 39em)
    .profile_stats
        display flex !important

    nav
        padding 10px 0

        #search-link
            padding 10px 0

            img
                width 20px !important
                height 20px !important

        .user-options
            .user-options-inner
                top 50px !important

            .user-options-toggle p
                display block !important

    nav > a,
    .user-options,
    #notifications-link
        margin-left 20px !important

@media (min-width: 48em)
    margin 0

    .main-header,
    .main-body,
    .main-footer
        width 90vw
        margin 0 5vw

@media (min-width: 62em)
    .main-header,
    .main-body,
    .main-footer
        width 80vw
        margin 0 10vw