/***************
POST
***************/
.post
    margin 10px 0
    padding 10px
    padding-bottom 0
    border 1px solid border-color
    border-radius 10px

    &.no-border
        border none
        padding 0

    .post-title
        display flex
        justify-content space-between

        h2
            color black
            line-height 1.5em
            margin 0

        button,
        form
            margin 0
            height 36px

    .post-info
        border-bottom 1px solid border-color

        p
            margin 5px 0

        .post-user
            img
                height 17.5px
                margin-right 5px

    .post-stats
        display flex
        border-top 1px solid border-color

        > div,
        > div a
            display flex

            margin-right 10px

            img
                width 20px
                margin-right 10px

    &:last-child
        margin-top 0

.post-comments
    margin-top 10px

    .comment
        border 1px solid border-color
        border-radius 5px
        padding 10px
        margin-bottom 10px


        p
            margin 0

        .comment-user
            display flex
            align-items center
            padding-bottom 10px
            margin-bottom 10px
            border-bottom 1px solid border-color

            img
                width 30px
                height 30px
                margin-right 10px

            h3
                margin 0
                color black

            .comment-delete
                margin-left auto

                button
                    margin 0
                    height 30px
                    padding 5px 10px

    form
        .CodeMirror,
        .CodeMirror-scroll
            height 10px
            resize none

        button
            margin-top 0