/***************
POST
***************/
.post
    margin 10px 0
    padding 10px
    padding-bottom 0
    border 1px solid border-color
    border-radius 10px

    &.post-small-height
        max-height 500px

        .post-content
            max-height 300px

    &.no-border
        border none
        padding 0

    .post-id
        display none

    .post-title
        display flex
        justify-content space-between
        align-items center

        a.post-link
            h2
                color black

            h2,
            p
                margin 0
                display inline-block

        button,
        form
            margin 0
            height 36px

    .post-info
        border-bottom 1px solid border-color

        p
            margin 5px 0

        .post-user
            img
                height 17.5px
                margin-right 5px

    .post-stats
        display flex
        border-top 1px solid border-color

        > div,
        > div a
            display flex

            margin-right 10px

            img
                width 20px
                margin-right 10px

    .post-content
        position relative
        overflow hidden

        .post-overflow
            display none
            text-shadow 0px -1px rgba(0, 0, 0, 0.5)

            background-color rgba(150, 150, 150, 0.3)
            padding 10px
            -webkit-backdrop-filter blur(2px)

            width 100%
            position absolute
            bottom -1px
            text-align center

.post-comments
    margin-top 10px

    .comment
        border 1px solid border-color
        border-radius 5px
        padding 10px
        margin-bottom 10px

        p
            margin 0

        .comment-user
            display flex
            align-items center
            padding-bottom 10px
            margin-bottom 10px
            border-bottom 1px solid border-color

            img
                width 30px
                height 30px
                margin-right 10px

            h3
                margin 0
                color black

            .comment-actions
                margin-left auto

                button
                    margin 0
                    height 30px
                    padding 7.5px

        button
            margin-top 0