/***************
PROFILE
***************/
.profile
    .profile_header,
    .profile_stats
        display flex
        border-bottom 1px solid border-color

    .profile_header
        justify-content space-between
        align-items center

        > a
            width 100vw
            display flex
            align-items center

            img.avatar
                width 75px
                height 75px
                margin 5px 0
                margin-right 20px

            h1
                overflow hidden
                text-overflow ellipsis

    .profile_stats
        justify-content space-around

    &.search_profile
        display flex
        border-bottom 1px solid border-color
        margin-bottom 10px

        .profile_header
            border none
            margin-right auto

            button
                display none

        .profile_stats
            width 50%
            align-items center
            border none
            display none

    &:not(.search_profile)
        .profile_header h1
            color black !important

.user-list
    display flex
    flex-wrap wrap
    list-style none
    padding 0

    li
        margin 0 10px

        img
            width 100px

        p
            margin 0
            text-overflow ellipsis
            text-align center
            width 100px
            overflow hidden
