/***************
PROFILE
***************/
.profile
    .profile_header,
    .profile_stats
        display flex
        border-bottom 1px solid border-color

    .profile_header
        justify-content space-between
        align-items center

        > div
            display flex
            align-items center

            img.avatar
                width 75px
                height 75px
                margin 5px 0
                margin-right 20px

            h1
                overflow hidden
                text-overflow ellipsis

    .profile_stats
        justify-content space-around


.user-list
    display flex
    flex-wrap wrap
    list-style none
    padding 0

    li
        margin 0 10px

        img
            width 100px

        p
            margin 0
            text-overflow ellipsis
            text-align center
            width 100px
            overflow hidden
