@import '../css/normalize.min.css'

@font-face
    font-family 'Libre Franklin'
    font-style normal
    font-weight 400
    src local('Libre Franklin'), local('LibreFranklin-Regular'), url(https://fonts.gstatic.com/s/librefranklin/v1/PFwjf3aDdAQPvNKUrT3U74n0PH9ugSbMbyJUwgXwvOs.woff) format('woff')

border-color = #ddd

body
    font-family 'Libre Franklin', 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif
    margin 0 10px
    font-size 0.9em

*
    box-sizing border-box

a
    text-decoration none
    color #999

    &:hover
        color border-color

strong
    font-weight bold

#body
    border-top 1px solid border-color

    a
        color dodgerblue

h1,
h2,
h3
    margin 10px 0
    font-weight normal

.flashes
    z-index 10000000
    display none
    padding 0
    position absolute
    top 0
    left 20vw
    width 60vw

    li
        border-radius 10px
        list-style none
        margin-left 0
        padding 10px
        text-align center
        background-color lightblue

    .error
        background-color orangered

.x-margin
    margin 0 5px

.no-margin
    margin 0 !important

img
    max-width 100%

button,
input,
textarea
    &:focus
        outline none

button
    margin 10px 0
    padding 10px
    border-radius 5px
    color white
    background-color dodgerblue
    border none

    &:hover
        cursor pointer
        color border-color

    &.danger
        background-color orangered

    a
        color white !important

.post-editor
    button
        margin 0

.notifications
    padding 0

    .notification
        list-style none
        display flex
        align-items center

        border-bottom 1px solid border-color

        &:last-child
            border none

img.http-cat
    width 60%
    margin 10px 20%

#account-settings
    > button
        margin-top 0
        display block

@import 'header.styl'
@import 'post.styl'
@import 'profile.styl'
@import 'forms.styl'
@import 'footer.styl'
@import 'media_queries.styl'