//@import 'https://fonts.googleapis.com/css?family=Libre+Franklin';

body
    font-family 'Libre Franklin', 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif
    margin 0 10px
    
    *
        box-sizing border-box
    
    /***************
    NAV
    ***************/
    nav
        display flex
        flex-direction column

        a
            width 100%
            padding 10px 0
            border-bottom 1px solid #ddd
            
            &:hover
                color black
    
    /***************
    TEXT
    ***************/
    a
        text-decoration none
        color #999
        
        &:hover
            color #ddd
    
    /***************
    MODAL
    ***************/
    #blanket
        display none
        position absolute
        top 0
        left 0
        z-index 999
        background-color rgba(0, 0, 0, .75)
        width 100vw
        height 100vh

    .modal
        width 90%
        padding 10px
        background-color white
        z-index 1000
        margin 10px
        border-radius 10px
        position absolute
        top 100px
        left 0
        
        fieldset
            display flex
            flex-direction column
            
            padding 10px
            input,
            button
                width 100%
                
    img[src="/static/github-logo.svg"]
        margin-bottom -3px
        margin-left 5px
        width 20px
            
    /***************
    BUTTONS
    ***************/
    button
        margin 10px 0
        padding 10px
        border-radius 5px
        color white
        background-color dodgerblue
        border none

        &:hover
            cursor pointer
            color #ddd
        
        &.danger
            background-color orangered
            
        a
            color white
    
    /***************
    GENERAL
    ***************/
    h1,
    h2,
    h3
        margin 10px 0
        
    .flashes
        display none
        padding 0
        position absolute
        top 0
        left 5vw
        width 90vw
        
        li
            border-radius 10px
            list-style none
            margin-left none
            padding 10px
            text-align center
            background-color lightblue
            
        .error
            background-color orangered
        
    .x-margins
        margin 0 5px
        
    /***************
    FORMS
    ***************/
    form
        margin 10px 0
        
        fieldset
            border none
            padding 0
            margin 5px 0
            
            input,
            textarea
                border-radius 5px
                border 1px solid #ddd
                
                &:focus
                    outline none
                
            input
                padding 5px
                
            textarea
                padding 10px
                width 100%
                height 200px
               
                
    #login-form
        display none
        
        fieldset
            padding 0
    
    /***************
    FOOTER
    ***************/
    footer
        padding 10px
        border-top 1px solid #ddd
        text-align center