@import 'https://fonts.googleapis.com/css?family=Libre+Franklin';
border-color = #ddd

body
    font-family 'Libre Franklin', 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif
    margin 0 10px

    *
        box-sizing border-box
    
    /***************
    HEADER
    ***************/
    .main-header
        .logo
            font-size 1.5em
            text-align center

            a
                color black

        nav
            display flex
            flex-direction column

            a
                width 100%
                padding 10px 0
                border-top 1px solid border-color

                &:hover
                    color black

                &:last-child
                    border-bottom 2px solid border-color

    /***************
    TEXT
    ***************/
    a
        text-decoration none
        color #999

        &:hover
            color border-color

    /***************
    MODAL
    ***************/
    #blanket
        display none
        position absolute
        top 0
        left 0
        z-index 999
        background-color rgba(0, 0, 0, .75)
        width 100vw
        height 100vh

    .modal
        width 90%
        padding 10px
        background-color white
        z-index 1000
        margin 10px
        border-radius 10px
        position absolute
        top 100px
        left 0

        form
            margin 0

            fieldset
                margin-top 0
                display flex
                flex-direction column
                padding 10px

                input,
                button
                    width 100%

    img[src="/static/github-logo.svg"]
        margin-bottom -3px
        margin-left 5px
        width 20px

    /***************
    BUTTONS
    ***************/
    button
        margin 10px 0
        padding 10px
        border-radius 5px
        color white
        height 40px
        background-color dodgerblue
        border none

        &:hover
            cursor pointer
            color border-color

        &.danger
            background-color orangered

        a
            color white

    /***************
    GENERAL
    ***************/
    h1,
    h2,
    h3
        margin 10px 0

    .flashes
        display none
        padding 0
        position absolute
        top 0
        left 12.5vw
        width 75vw

        li
            border-radius 10px
            list-style none
            margin-left none
            padding 10px
            text-align center
            background-color lightblue

        .error
            background-color orangered

    .x-margin
        margin 0 5px

    /***************
    FORMS
    ***************/
    form
        margin-bottom 10px

        fieldset
            border none
            padding 0
            margin 5px 0

            input,
            textarea
                border-radius 5px
                border 1px solid border-color
                padding 10px
                width 100%

                &:focus
                    outline none

            textarea
                height 200px
                resize vertical

        button
            margin-bottom 0

    .login-title
        display flex
        justify-content space-between

    #login-form,
    #signup-form
        fieldset
            padding 0

    /***************
    STREAM
    ***************/
    .post
        margin 10px 0
        padding 10px
        border 1px solid border-color
        border-radius 10px
        word-wrap: break-word;

        &.no-border
            border none
            padding 0

        .post-title
            display flex
            justify-content space-between

            h2
                line-height 1.5em
                margin 0

            button.danger,
            form
                margin 0
                height 36px

        .post-info
            border-bottom 1px solid border-color

            p
                margin-top 5px

        .post-content
            margin 10px 0
            white-space pre-line

            line-height 1.5em

    /***************
    USER STREAM
    ***************/
    .user_stream
        .user_header,
        .user_stats
            display flex
            border-bottom 1px solid border-color

        .user_header
            justify-content space-between
            align-items center

            > div
                display flex
                align-items center

                img.avatar
                    width 75px
                    height 75px
                    margin 5px 0
                    margin-right 20px
            
        .user_stats
            justify-content space-around
            
    
    /***************
    FOOTER
    ***************/
    footer
        border-top 2px solid border-color

        .main-footer
            padding 10px
            text-align center

            p
                margin 0

    /***************
    MEDIA QUERIES
    ***************/
    @media (min-width: 34em)
        header
            border-bottom 2px solid border-color

            .main-header
                display flex

                .logo
                    font-size 2em
                    margin-right auto

                nav
                    flex-direction row
                    align-items center

                    a
                        width auto
                        margin 0
                        border none
                        margin-left 20px

                        &:last-child
                            border none

        .flashes
            width 50%
            left 25%

    @media (min-width: 48em)
        margin 0

        .main-header,
        .main-body,
        .main-footer
            width 90vw
            margin 0 5vw

    @media (min-width: 62em)
        margin 0

        .main-header,
        .main-body,
        .main-footer
            width 80vw
            margin 0 10vw