@import 'https://fonts.googleapis.com/css?family=Libre+Franklin';
border-color = #ddd

body
    font-family 'Libre Franklin', 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif
    margin 0 10px

    *
        box-sizing border-box
    
    /***************
    HEADER
    ***************/
    .main-header
        .logo
            font-size 1.5em
            text-align center
            color black

        nav
            display flex
            flex-direction column

            > a,
            #user-options-toggle,
            .user-options-inner-showing a
                width 100%
                padding 10px 0
                border-top 1px solid border-color

                &:hover
                    color black

            #user-options
                #user-options-toggle
                    border-bottom 2px solid border-color
                    display flex
                    align-items center
                    width 100%

                    p
                        margin 0 10px

                    img
                        height 20px

                #user-options-inner
                    display none

                    &.user-options-inner-showing
                        display flex !important
                        flex-direction column

                        a:first-child
                            border-top none

                        a:last-child
                            border-bottom 1px solid border-color

    /***************
    TEXT
    ***************/
    a
        text-decoration none
        color #999

        &:hover
            color border-color

    /***************
    MODAL
    ***************/
    #blanket
        display none
        position absolute
        top 0
        left 0
        z-index 999
        background-color rgba(0, 0, 0, .75)
        width 100vw
        height 100vh

    .modal
        width 90%
        padding 10px
        background-color white
        z-index 1000
        margin 10px
        border-radius 10px
        position absolute
        top 100px
        left 0

        form
            margin 0

            fieldset
                margin-top 0
                display flex
                flex-direction column
                padding 10px

                input,
                button
                    width 100%

    img[src="/static/github-logo.svg"]
        margin-bottom -3px
        margin-left 5px
        width 20px

    /***************
    BUTTONS
    ***************/
    button
        margin 10px 0
        padding 10px
        border-radius 5px
        color white
        height 40px
        background-color dodgerblue
        border none

        &:hover
            cursor pointer
            color border-color

        &.danger
            background-color orangered

        a
            color white

    /***************
    GENERAL
    ***************/
    h1,
    h2,
    h3
        margin 10px 0

    .flashes
        z-index 10000000
        display none
        padding 0
        position absolute
        top 0
        left 12.5vw
        width 75vw

        li
            border-radius 10px
            list-style none
            margin-left none
            padding 10px
            text-align center
            background-color lightblue

        .error
            background-color orangered

    .x-margin
        margin 0 5px

    button,
    input,
    textarea
        &:focus
            outline none

    /***************
    FORMS
    ***************/
    form
        margin-bottom 10px

        fieldset
            border none
            padding 0
            margin 5px 0

            input,
            textarea
                border-radius 5px
                border 1px solid border-color
                padding 10px
                width 100%

            textarea
                height 200px
                resize vertical

        button
            margin-bottom 0

    .login-title
        display flex
        justify-content space-between

    #login-form,
    #signup-form
        fieldset
            padding 0

    /***************
    POST
    ***************/
    .post
        margin 10px 0
        padding 10px
        border 1px solid border-color
        border-radius 10px
        word-wrap: break-word;

        &.no-border
            border none
            padding 0

        .post-title
            display flex
            justify-content space-between

            h2
                color black
                line-height 1.5em
                margin 0

            button.danger,
            form
                margin 0
                height 36px

        .post-info
            border-bottom 1px solid border-color

            p
                margin 5px 0

            .post-user
                img
                    height 17.5px
                    margin-right 10px

        .post-content
            padding-top 10px
            white-space pre-line
            line-height 1.5em

    .post-comments
            margin-top 10px

            .comment
                border 1px solid border-color
                border-radius 5px
                padding 10px
                margin-bottom 10px


                p
                    margin 0

                .comment-user
                    display flex
                    align-items center
                    padding-bottom 10px
                    margin-bottom 10px
                    border-bottom 1px solid border-color

                    img
                        width 30px
                        height 30px
                        margin-right 10px

                    h3
                        margin 0
                        color black

                    .comment-delete
                        margin-left auto

                        button
                            margin 0
                            height 30px
                            padding 5px 10px

            form
                textarea
                    height 75px
                    flex-grow 2
                    resize none

                button
                    margin-top 0

    /***************
    USER STREAM
    ***************/
    .user_stream
        .user_header,
        .user_stats
            display flex
            border-bottom 1px solid border-color

        .user_header
            justify-content space-between
            align-items center

            > div
                display flex
                align-items center

                img.avatar
                    width 75px
                    height 75px
                    margin 5px 0
                    margin-right 20px
            
        .user_stats
            justify-content space-around
            
    
    /***************
    FOOTER
    ***************/
    footer
        border-top 2px solid border-color

        .main-footer
            padding 10px
            text-align center

            > p
                margin 0

    /***************
    MEDIA QUERIES
    ***************/
    @media (min-width: 34em)
        header
            border-bottom 2px solid border-color

            .main-header
                display flex

                .logo
                    font-size 2em
                    margin-right auto
                    padding 10px
                    margin 0

                    &:hover
                        background-color border-color

                nav
                    flex-direction row
                    align-items center
                    margin-left auto

                    a
                        padding 20px 10px
                        width auto
                        margin 0
                        border none

                        &:hover
                            background-color border-color

                        &:last-child
                            border none

                    #user-options
                        position relative

                        #user-options-toggle
                            padding 10px
                            border none !important

                            img:first-child
                                height 40px

                            &:hover img
                                color black

                        #user-options-inner
                            width 100%
                            background-color white
                            margin-right 10px
                            position absolute
                            top 60px
                            border 1px solid border-color
                            border-bottom-right-radius 5px
                            border-bottom-left-radius 5px

                            a
                                padding 10px

                                &:last-child
                                    border 1px solid border-color

        .flashes
            width 50%
            left 25%

    @media (min-width: 48em)
        margin 0

        .main-header,
        .main-body,
        .main-footer
            width 90vw
            margin 0 5vw

    @media (min-width: 62em)
        margin 0

        .main-header,
        .main-body,
        .main-footer
            width 80vw
            margin 0 10vw