{% extends 'layout.html' %}
{% from 'macros.html' import render_field %}

{% block body %}
<div id="account-settings">
    <h1>Account Settings</h1>
    <h2>General:</h2>
    <div class="post-editor">
        <form method='POST' action='' id="account-form">
            {{ render_form(form) }}
            <button type="submit">Save</button>
        </form>
    </div>
    <h2>Dangerous Zone:</h2>
    <button class="danger">
        <a href="{{ url_for('accounts.delete_my_account') }}">Delete my account</a>
    </button>
    <button class="danger">
        <a href="{{ url_for('accounts.delete_my_posts') }}">Delete all of my posts</a>
    </button>
    <button class="danger">
        <a href="{{ url_for('accounts.delete_my_comments') }}">Delete all of my comments</a>
    </button>
</div>
{% endblock %}