<!DOCTYPE html>
<html>
    <head>
        <title>Soshil</title>
        <link rel="stylesheet" type="text/css" href="/static/normalize.min.css">
        <link rel="stylesheet" type="text/css" href="/static/stylesheet.css">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta charset="UTF-8">
    </head>
    <body>
        {% with messages = get_flashed_messages(with_categories=True) %}
            {% if messages %}
                <ul class=flashes>
                {% for category, message in messages %}
                    <li class="{{ category }}">{{ message }}</li>
                {% endfor %}
                </ul>
            {% endif %}
        {% endwith %}
        <header>
            <div class="main-header">
                <h1 class="logo"><a href="{{ url_for('index') }}">Soshil</a></h1>
                <nav>
                    {% if user.is_authenticated %}
                    <a href="{{ url_for('stream') }}">Stream</a>
                    <a href="{{ url_for('all_posts') }}">All Posts</a>
                    <a href="{{ url_for('new_post')}} ">New Post</a>
                    <a href="{{ url_for('account')}} ">Account</a>
                    <a href="{{ url_for('logout')}} ">Logout {{ user.username }}</a>
                    {% else %}
                    <a href="{{ url_for('index') }}">Home</a>
                    <a href="{{ url_for('log_in') }}">Log in</a>
                    <a href="{{ url_for('sign_up') }}">Sign up</a>
                    {% endif %}
                </nav>
            </div>
        </header>
        <section id="body">
            <div class="main-body">
            {% block body %}
            {% endblock %}
            </div>
            <div id="blanket"></div>
        </section>
        <footer>
            <div class="main-footer">
                <p>&copy;<span id="year"></span><a href="{{ url_for('index') }}"> Soshil</a></p>
                <div class="terms">
                    <p><a href="{{ url_for('terms') }}">Terms and Conditions</a></p>
                </div>
            </div>
        </footer>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
        <script src="/static/jquery.validate.min.js"></script>
        <script src="/static/main.js"></script>
    </body>
</html>
