<!DOCTYPE html>
<html>
    <head>
        <title>Soshil</title>
        <link rel="stylesheet" type="text/css" href="/static/css/stylesheet.css">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta charset="UTF-8">
    </head>
    <body>
        {% with messages = get_flashed_messages(with_categories=True) %}
            {% if messages %}
                <ul class=flashes>
                {% for category, message in messages %}
                    <li class="{{ category }}">{{ message }}</li>
                {% endfor %}
                </ul>
            {% endif %}
        {% endwith %}
        <header>
            <div class="main-header">
                <div class="title-bar">
                    <a href="{{ url_for('index') }}"><h1 class="logo">Soshil</h1></a>
                    <a href="javascript:void(0)" class="toggle-nav">&#9776;</a>
                </div>
                <nav>
                    {% if user.is_authenticated %}
                    <a href="{{ url_for('new_post')}} ">New Post</a>
                    <a href="{{ url_for('stream') }}">Stream</a>
                    <a href="{{ url_for('explore') }}">Explore</a>
                    <div id="user-options">
                        <a href="javascript:void(0)" id="user-options-toggle">
                            <img src="{{ user.avatar_url }}" alt="{{ user.username }}'s Avatar">
                            <p>{{ user.username }}</p>
                            <img src="/static/down_arrow.svg">
                        </a>
                        <div id="user-options-inner">
                            <a href="{{ url_for('profile', username=user.username) }}">Profile</a>
                            <!--<a href="{{ url_for('account')}} ">Account</a>-->
                            <a href="{{ url_for('log_out')}} ">Log out</a>
                        </div>
                    </div>
                    <div class="notifications">
                        <img src="/static/bell.svg" alt="Notification Bell">
                        <p>Notifications</p>
                        <img src="/static/down_arrow.svg">
                        <div class="notifications-inner">
                            {% for notification in notifications %}
                            <div class="notification">
                                <p class="notification-title">{{ notification.title }}</p>
                                <p class="notification-content">{{ notification.content }}</p>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                    {% else %}
                    <a href="{{ url_for('index') }}">Home</a>
                    <a href="{{ url_for('log_in') }}">Log in</a>
                    <a href="{{ url_for('sign_up') }}">Sign up</a>
                    {% endif %}
                </nav>
            </div>
        </header>
        <section id="body">
            <div class="main-body">
            {% block body %}
            {% endblock %}
            </div>
            <div id="blanket"></div>
        </section>
        <footer>
            <div class="main-footer">
                <p>&copy;<span id="year"></span><a href="{{ url_for('index') }}"> Soshil</a></p>
                <div class="terms">
                    <p>By using Soshil, you agree to the <a href="{{ url_for('terms') }}">Terms and Conditions</a></p>
                    <p>WARNING: This app is incomplete. Read the terms for more details.</p>
                </div>
            </div>
        </footer>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
        <script src="/static/jquery.validate.min.js"></script>
        <script src="/static/main.js"></script>
        {% block scripts %}
        {% endblock %}
    </body>
</html>
