{% macro render_field(field) %}
<fieldset>
    {% if field.errors %}
        {% for error in field.errors %}
        <div class="notification error">
            {{ error }}
        </div>
        {% endfor %}
    {% endif %}
    {{ field(placeholder=field.label.text) }}
</fieldset>
{% endmacro %}

{% macro new_post(post) %}
<article class="post">
    <div class="post-title">
        <a href="{{ url_for('view_post', post_id=post.id) }}">
            <h2>{{ post.title }}</h2>
        </a>
        <div>
            {% if post.user == g.user._get_current_object() %}
            <button class="danger"><a href="{{ url_for('delete_post', post_id=post.id) }}">Delete</a></button>
            {% endif %}
        </div>
    </div>
    <div class="post-info">
        <p>
            <a href="{{ url_for('profile', username=post.user.username )}}" class="post-user">
                <img class="avatar" src="{{ post.user.avatar_url }}" alt="{{ post.user.username }}'s Avatar">
                {{ post.user.username }}
            </a>
            <span class="x-margin">-</span>
            <time data-time="{{ post.timestamp }}" datetime="{{ post.timestamp.strftime('%Y-%m-%d %I:%M') }}">{{ post.timestamp.strftime('%m-%d-%Y %I:%M') }}</time>
            {% if post_list %}
            <span class="x-margin">-</span>
            <a href="{{ url_for('view_post', post_id=post.id) }}">View</a>
            {% endif %}
        </p>
    </div>
    <div class="post-content">
        {{- post.content|safe -}}
    </div>
</article>
{% endmacro %}

{% macro github_login() %}
<button><a href="{{ url_for('login_github')}}">
    <p>Github</p>
    <img src="/static/github-logo.svg" alt="Github's logo">
</a></button>
{% endmacro %}