{% macro render_form(form, action='Submit') %}
<form method='POST' action=''>
    {{ form.hidden_tag() }}
    {% for field in form %}
        <fieldset>
            {% if field.errors %}
                {% for error in field.errors %}
                <div class="notification error">
                    {{ error }}
                </div>
                {% endfor %}
            {% endif %}
            {{ field(placeholder=field.label.text) }}
        </fieldset>
    {% endfor %}
    <button type="submit" class="no-margin">{{ action }}</button>
</form>
{% endmacro %}

{% macro new_post(post) %}
<article class="post">
    <span class="hidden">{{ post.id }}</span>
    <div class="post-title">
        <a href="{{ url_for('posts.view', post_id=post.id) }}" class="post-link">
            <h2>{{ post.title }}</h2>
        </a>
        <div>
            {% set user = g.user._get_current_object() %}
            {% if post.user == user or user.is_admin %}
            <button><a href="{{ url_for('posts.edit', post_id=post.id) }}">Edit</a></button>
            <button class="danger"><a href="{{ url_for('posts.delete', post_id=post.id) }}">Delete</a></button>
            {% endif %}
        </div>
    </div>
    <div class="post-info">
        <p>
            <a href="{{ url_for('users.profile', username=post.user.username )}}" class="post-user">
                <img class="avatar" src="{{ post.user.avatar_url }}" alt="{{ post.user.username }}'s Avatar">
                {{ post.user.username }}
            </a>
            <span class="x-margin">-</span>
            <time data-time="{{ post.timestamp }}" datetime="{{ post.timestamp.strftime('%Y-%m-%d %I:%M') }}">{{ post.timestamp.strftime('%m-%d-%Y %I:%M') }}</time>
            {% if post_list %}
            <span class="x-margin">-</span>
            <a href="{{ url_for('posts.view', post_id=post.id) }}">View</a>
            {% endif %}
        </p>
    </div>
    <div class="post-content">
        {{ post.content|markdown }}
        <a href="{{ url_for('posts.view', post_id=post.id) }}" class="post-overflow">Read more...</a>
    </div>
    <div class="post-stats">
        <div>
            <a href="javascript:void(0)" class="like-post">
                <img src="/static/{% if user in post.get_likes() %}pink_{% endif %}heart.svg">
                <p>{{ post.get_likes().count() }}</p>
            </a>
        </div>
        <div>
            <img src="/static/comments.svg">
            <p>{{ post.get_number_of_comments() }}</p>
        </div>
    </div>
</article>
{% endmacro %}

{% macro github_login() %}
<button><a href="{{ url_for('login_github')}}">
    <p>Github</p>
    <img src="/static/github-logo.svg" alt="Github's logo">
</a></button>
{% endmacro %}