{% extends 'layout.html' %}
{% from 'macros.html' import render_field %}

{% block body %}
{% if edit and not comment %}
<h1>Edit Post:</h1>
{% elif comment %}
<h1>Edit Comment</h1>
{% else %}
<h1>New Post:</h1>
{% endif %}
<div class="post-editor">
    <form method='POST' action=''>
        {% if edit %}
        {% set action = 'Save!' %}
        {% else %}
        {% set action = 'Post!' %}
        {% endif %}
        {{ render_form(form, action) }}
    </form>
</div>
{% endblock %}
{% block head %}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.css">
<script src="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.js"></script>
{% endblock %}