{% extends 'stream.html' %}

{% block body %}
<div class="user_stream">
    <div class="user_header">
        <h1>{{ profile_user.username }}</h1>
        {% if user.is_authenticated %}
            {% if profile_user != current_user %}
                {% if not profile_user in user.following() %}
                <a href="{{ url_for('follow', username=profile_user.username) }}" class="button">Follow</a>
                {% else %}
                <a href="{{ url_for('unfollow', username=profile_user.username) }}" class="button">Unfollow</a>
                {% endif %}
            {% endif %}
        {% endif %}
    </div>
    <div class="user_stats">
        <div>
            <h3>Posts: {{ profile_user.posts.count() }}</h3>
        </div>
        <div>
            <h3>Followers: {{ profile_user.followers().count() }}</h3>
        </div>
        <div>
            <h3>Following: {{ profile_user.following().count() }}</h3>
        </div>
    </div>
    <div class="user_posts">
        {{ super() }}
    </div>
</div>
{% endblock %}