{% extends 'stream.html' %}

{% block body %}
<div class="user_stream">
    <div class="user_header">
        <div>
            <img class="avatar" src="{{ profile_user.avatar_url }}" alt="{{ profile_user.username }}'s Avatar">
            <h1>{{ profile_user.username }}</h1>
        </div>
        {% if profile_user != user %}
            {% if not user.is_authenticated %}
            <button><a href="{{ url_for('follow', username=profile_user.username) }}" class="button">Follow</a></button>
            {% elif not profile_user in user.following() %}
            <button><a href="{{ url_for('follow', username=profile_user.username) }}" class="button">Follow</a></button>
            {% else %}
            <button><a href="{{ url_for('unfollow', username=profile_user.username) }}" class="button">Unfollow</a></button>
            {% endif %}
        {% endif %}
    </div>
    <div class="user_stats">
        <div>
            <h3>Posts: {{ profile_user.posts.count() }}</h3>
        </div>
        <div>
            <h3>Followers: {{ profile_user.followers().count() }}</h3>
        </div>
        <div>
            <h3>Following: {{ profile_user.following().count() }}</h3>
        </div>
    </div>
    <div class="user_posts">
        {{ super() }}
    </div>
</div>
{% endblock %}