{% extends 'layout.html' %}
{% from 'macros.html' import render_form, github_login, render_field %}

{% block body %}
<div class="login-title">
    <h1>Sign up</h1>
    {{ github_login() }}
</div>
<div id="signup-form">
    <form method='POST' action=''>
        {{ form.hidden_tag() }}
        {% for field in form %}
        {{ render_field(field) }}
        {% endfor %}
        <div class="g-recaptcha" data-sitekey="6Lcw0CkTAAAAAD9uXHT_7SvCx6irHZ0A1bYPCWXk"></div>
        <p>By continuing, you agree to the <a href="{{ url_for('terms') }}">terms.</a> Please read them.</p>
        <button type="submit" class="no-margin">Sign up!</button>
    </form>
</div>
{% endblock %}
{% block head %}
<script src='https://www.google.com/recaptcha/api.js'></script>
{% endblock %}