/***************
POST
***************/
.post
    margin 10px 0
    padding 10px
    border 1px solid border-color
    border-radius 10px
    word-wrap: break-word;

    &.no-border
        border none
        padding 0

    .post-title
        display flex
        justify-content space-between

        h2
            color black
            line-height 1.5em
            margin 0

        button.danger,
        form
            margin 0
            height 36px

    .post-info
        border-bottom 1px solid border-color

        p
            margin 5px 0

        .post-user
            img
                height 17.5px
                margin-right 10px

    .post-content
        padding-top 10px
        white-space pre-line
        line-height 1.5em

.post-comments
        margin-top 10px

        .comment
            border 1px solid border-color
            border-radius 5px
            padding 10px
            margin-bottom 10px


            p
                margin 0

            .comment-user
                display flex
                align-items center
                padding-bottom 10px
                margin-bottom 10px
                border-bottom 1px solid border-color

                img
                    width 30px
                    height 30px
                    margin-right 10px

                h3
                    margin 0
                    color black

                .comment-delete
                    margin-left auto

                    button
                        margin 0
                        height 30px
                        padding 5px 10px

        form
            textarea
                height 75px
                flex-grow 2
                resize none

            button
                margin-top 0