/***************
POST
***************/
.post {
  margin: 10px 0;
  padding: 10px;
  border: 1px solid border-color;
  border-radius: 10px;
  word-wrap: break-word;
}
.post.no-border {
  border: none;
  padding: 0;
}
.post .post-title {
  display: flex;
  justify-content: space-between;
}
.post .post-title h2 {
  color: #000;
  line-height: 1.5em;
  margin: 0;
}
.post .post-title button.danger,
.post .post-title form {
  margin: 0;
  height: 36px;
}
.post .post-info {
  border-bottom: 1px solid border-color;
}
.post .post-info p {
  margin: 5px 0;
}
.post .post-info .post-user img {
  height: 17.5px;
  margin-right: 10px;
}
.post .post-content {
  padding-top: 10px;
  white-space: pre-line;
  line-height: 1.5em;
}
.post-comments {
  margin-top: 10px;
}
.post-comments .comment {
  border: 1px solid border-color;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
}
.post-comments .comment p {
  margin: 0;
}
.post-comments .comment .comment-user {
  display: flex;
  align-items: center;
  padding-bottom: 10px;
  margin-bottom: 10px;
  border-bottom: 1px solid border-color;
}
.post-comments .comment .comment-user img {
  width: 30px;
  height: 30px;
  margin-right: 10px;
}
.post-comments .comment .comment-user h3 {
  margin: 0;
  color: #000;
}
.post-comments .comment .comment-user .comment-delete {
  margin-left: auto;
}
.post-comments .comment .comment-user .comment-delete button {
  margin: 0;
  height: 30px;
  padding: 5px 10px;
}
.post-comments form textarea {
  height: 75px;
  flex-grow: 2;
  resize: none;
}
.post-comments form button {
  margin-top: 0;
}
